NAME=br-mgmt
DEVICE=br-mgmt
TYPE=Bridge
STP=off
DELAY=0
ONBOOT=yes
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPADDR=172.29.236.{{ ip.split('.')[-1] }}
NETMASK=255.255.252.0
GATEWAY={{ gateway }}
DNS1={{ dns }}
