NAME={{ interface_name }}.{{ vlan_id }}
DEVICE={{ interface_name }}.{{ vlan_id }}
PHYSDEV={{ interface_name }}
TYPE=Vlan
VLAN=yes
VLAN_ID={{ vlan_id }}
BRIDGE={{ bridge_name }}
REORDER_HDR=yes
ONBOOT=yes
